<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8"></meta>
<title>login</title>
</head>
<body>

    <a href="login.html">登陆</a>&emsp;&emsp;<a href="regist.html">注册</a>&emsp;&emsp;<a href="personal_center.html">个人中心</a>
    </p>
    论坛：
    <ol>
        <li>
            <a href="yangzhi.html">养殖论坛</a>
        </li>
        <li>
            <a href="yangsheng.html">养生论坛</a>
        </li>
        <li>
            <a href="ziyuan.html">资源论坛</a>
        </li>
    </ol>
    主题：
    <ol>
        <li>
            <a href="yangzhutopic.html">养猪</a>
        </li>
        <li>
            <a href="yanglaotopic.html">养老</a>
        </li>
        <li>
            <a href="ziyuantopic.html">资源</a>
        </li>
    </ol>
    在线用户：
    <tr>
        <td>
            <div th:each="name:${activeuserlist}">
                <div th:text="${name}"></div>
            </div>
        </td>
    </tr>
</body>
</html>