<!DOCTYPE html>
<html class="expanded">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>
        current university students blow社区
    </title>
    <meta name="apple-itunes-app" content="app-id=906632439" />
    <link rel="shortcut icon" href="/image/c.png" />
    <link type="text/css" rel="stylesheet" href="/css/common-v1.css" />
    <script src="/js/dace.js"></script>
    <script src="/js/common-v1.js"></script>
    <script type="text/javascript">
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();

    </script>


    <link rel="stylesheet" type="text/css" href="/css/bbsCommon_3913e74.css"/></head>

<body>
<div id="hp-topbarNav">
    <div class="hp-topbarNav-bd">
        <div class="notLogin">欢迎访问cusb，请先&nbsp;<a href="regist.html" class="btn-reg">注册</a>&nbsp;或者&nbsp;<a class="btn-login" href="login.html">登录</a></div>
    </div>
</div>
<div class="hp-header hp-header-B"><div class="hp-logo"><a title="社区" href=""><img src="/image/forum.png" alt="论坛" width="140px" height="52px"/></a>
</div>
    <div class="hp-mainNav hp-mainNav-B">
        <div class="hp-nav">
            <div class="hp-nav-bd">
                <ul class="hp-nav-item"><li><a href="" >cusb首页</a></li><li class="line">|</li><li><a href="https://nba.hupu.com/" >NBA</a></li><li class="line">|</li><li><a href="https://cba.hupu.com/" >CBA</a></li><li class="line">|</li><li><a href="https://gg.hupu.com" >电竞</a></li><li class="line">|</li><li><a href="https://soccer.hupu.com" >国际足球</a></li><li class="line">|</li><li><a href="https://soccer.hupu.com/china/" >中国足球</a></li><li class="line">|</li><li><a href="http://racing.hupu.com/" >赛车</a></li><li class="line">|</li><li><a href="http://zb.hupu.com/" target="_blank">装备</a></li><li class="line">|</li><li><a href="http://www.shihuo.cn/" target="_blank">识货</a></li><li class="line">|</li><li class="on"><a href="https://bbs.hupu.com/" >社区</a></li><li class="line">|</li><li><a href="https://bbs.hupu.com/all-gambia" >步行街</a></li><li class="line">|</li><li><a href="http://www.liangle.com" target="_blank">路人王</a></li><li class="line">|</li><li class="hp-dropDownMenu hp-moreNav">
                    <a href="javascript:void(0)" class="hp-set">更多<s class="setArrow"></s></a>
                    <div class="hp-drapDown hp-moreNav-drapDown"><a href="https://shop311048929.taobao.com/" target="_blank">cusb优选</a><a href="https://www.kaluli.com/" target="_blank">卡路里</a><a href="http://outdoor.hupu.com/" >户外</a><a href="http://run.hupu.com/" >健身</a><a href="http://ymq.hupu.com/" >羽毛球</a><a href="http://xgame.hupu.com/" target="_blank">xgames</a><a href="http://www.nflchina.com/" target="_blank">NFL</a><a href="http://golf.hupu.com/" target="_blank">高尔夫</a><s class="arrow-top"><s class="arrowbd"></s></s>
                    </div>
                </li>
                </ul>
            </div>
        </div>
        <div class="hp-subNav">
            <ul class="hp-subNav-item">
                <li><a href="/">首页</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/all-nba">NBA版</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/all-cba">CBA版</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/all-soccer">国际足球版</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/china-soccer">中国足球版</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/all-sports">综合体育</a></li><li class="line">|</li>
                <li class="hp-dropDownMenu">
                    <a target="_blank" href="https://bbs.hupu.com/all-gear">装备版</a>
                    <div class="hp-drapDown">
                        <a href="https://bbs.hupu.com/c2c">交易区</a>
                        <a href="https://bbs.hupu.com/jersey">球衣区</a>
                        <a href="https://bbs.hupu.com/outdoorgear">户外装备</a>
                    </div>
                </li>
                <li class="line">|</li>
                <li class="hp-dropDownMenu">
                    <a href="/all-gambia" class="hp-set">步行街</a>
                    <div class="hp-drapDown">
                        <a href="https://bbs.hupu.com/bxj">步行街主干道</a>
                        <a href="https://bbs.hupu.com/ent">影视区</a>
                        <a href="https://bbs.hupu.com/acg">ACG区</a>
                        <a href="https://bbs.hupu.com/nba2k">NBA2K区</a>
                        <a href="https://bbs.hupu.com/game">电竞区</a>
                        <a href="https://bbs.hupu.com/cars">车友交流</a>
                        <a href="https://bbs.hupu.com/music">音乐区</a>
                        <a href="https://bbs.hupu.com/love">情感区</a>
                        <a target="_blank" href="https://bbs.hupu.com/all-gambia">更多</a>
                        <s class="arrow-top"><s class="arrowbd"></s></s>
                    </div>
                </li><li class="line">|</li>
                <li class="hp-dropDownMenu">
                    <a href="/all-lottery" class="hp-set">彩票版</a>
                    <div class="hp-drapDown">
                        <a href="https://bbs.hupu.com/lancai">篮彩神棍区</a>
                        <a href="https://bbs.hupu.com/zucai">足彩讨论区</a>
                        <a href="https://bbs.hupu.com/shuzicai">数字彩讨论区</a>
                        <s class="arrow-top"><s class="arrowbd"></s></s>
                    </div>
                </li><li class="line hp-hide-w1024">|</li>
                <li class="hp-hide-w1024"><a href="/all-group">cusb社团</a></li><li class="line">|</li>
                <li><a target="_blank" href="https://bbs.hupu.com/all-feedback">站务版</a></li>
            </ul>
        </div>

        <i class="hp-roundPoint-br-tl roundPoint-br-tl"></i>
        <i class="hp-roundPoint-br-tr roundPoint-br-tr"></i>
        <i class="hp-roundPoint-br-bl roundPoint-br-bl"></i>
        <i class="hp-roundPoint-br-br roundPoint-br-br"></i>
    </div>
</div>

<script>
    googletag.cmd.push(function() {
        googletag.defineSlot('\/1016953\/hoopchina-bbs-right-Optimus-120x600', [120, 600], 'hoopchina-bbs-right-Optimus-120x600').addService(googletag.pubads());
        googletag.defineSlot('\/1016953\/nba_bbs_firstlist_1x1', [1, 1], 'nba_bbs_firstlist_1x1').addService(googletag.pubads());
        googletag.defineSlot('\/1016953\/hoopchina-bbs-content-right-250x250-2', [250, 250], 'hoopchina-bbs-content-right-250x250-2').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>

<div class="bbs-content">
    <div id="nba_bbs_firstlist_1x1" style="width:1px; height:1px;">
        <script>
            googletag.cmd.push(function() { googletag.display('nba_bbs_firstlist_1x1'); });
        </script>
    </div>
    <div id="container">
        <div class="container_padd">
            <div class="bbsPlate">
                <div class="showPlate">
                    <div id="J-t-plate">
                        <script id="J-plate-tpl" type="text/template">
                            <@if(datas.length>0){@>
                            <p class="forMyplate">
                                <span class="forhot">我关注的版块</span>
                                <a class="guanli" href="//bbs.hupu.com/myboardadmin.php?url=https://bbs.hupu.com/" onclick="window.open('/myboardadmin.php?url=https://bbs.hupu.com/','o','width=300,height=700,left=200,top=100,scrollbars=1,resizable=1');return false;">管理</a>
                            </p>
                            <ul class="bbs-showMyPlate">
                                <li>
                                    <a href="/i"><span class="showname">我关注的版块帖子</span></a>
                                </li>
                                <@ $(datas).each(function(index,item){ @>
                                <li>
                                    <a href="<@=item.url@>"  title="<@=item.bname@>">
                                        <span class="showname"><@=item.bname@></span>
                                        <@if(item.tpost>0){@>
                                        <span class="num"><@=item.tpost@></span>
                                        <@ } @>
                                    </a>
                                </li>
                                <@ }); @>

                            </ul>
                            <@ } @>
                        </script>
                    </div>
                    <p class="forMyplate" style="margin-top:8px;">
                        <span class="forhot" >版块分类</span>
                    </p>
                    <ul class="bbs_banner">
                        <li  data-num="0">
                            <a href="/cusb-forum/login"  class="data-1" data-fid="1">NBA论坛</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="1">
                            <a href="/all-cba"  class="data-232" data-fid="232">CBA论坛</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="2">
                            <a href="/all-soccer"  class="data-198" data-fid="198">国际足球论坛</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="3">
                            <a href="/all-csl"  class="data-4596" data-fid="4596">中国足球论坛</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="4">
                            <a href="/all-gg"  class="data-234" data-fid="234">游戏电竞</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="5">
                            <a href="/all-gambia"  class="data-174" data-fid="174">步行街</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="6">
                            <a href="/all-boards"  class="data-238" data-fid="238">自建版块</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="7">
                            <a href="/all-gear"  class="data-233" data-fid="233">运动和装备</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="8">
                            <a href="/all-sports"  class="data-41" data-fid="41">综合体育</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="9">
                            <a href="/all-lottery"  class="data-42" data-fid="42">彩票中心</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li  data-num="11">
                            <a href="/all-feedback"  class="data-7" data-fid="7">站务管理</a>
                            <div class="bbs_banner_over">
                                <div class="bbs_banner_bg">
                                    <dl class="showdata">
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="leftad" id="hoopchina-bbs-right-Optimus-120x600" style="width:120px; height:600px; ">
                    <script>
                        googletag.cmd.push(function() { googletag.display('hoopchina-bbs-right-Optimus-120x600'); });
                    </script>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="bottom_tools" style="bottom: 100px;">
    <a id="scrollUp"   title="返回顶部" style="display:none;cursor:pointer;"></a>
</div>
<div class="hp-footer">

</div>
</body>
<script type="text/javascript">var __ready = [];__ready.push(function(){
    //dace统计
    var __daceDataNameOfChannel = 'bbs';

    //公共头尾
    window._common && _common.init({project:"sports"});

    //baidu统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?39fc58a7ab8a311f2f6ca4dc1222a96e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
});
__ready.push(function(){       var bbsPlate= require("common:widget/bbsPlate/bbsPlate");
    bbsPlate.init();

});
__ready.push(function(){        $(".showmore").click(function() {
    var x =  $(this).attr("data-tr");
    if(x=="show"){
        $(this).prev().find('li').addClass('active');
        $(this).html('收起更多»').attr("data-tr","hide");
    }else {
        $(this).prev().find('li').removeClass('active');
        $(this).html('展开更多»').attr("data-tr","show");
    }
});
});
__ready.push(function(){

    window.onload=function(){
        var showheight=$(".showPlate").height();
        var leftheight=$(".leftad").height();
        var mheight=showheight+leftheight+20;
        var rheight=$(".bbsHotPit").height()
        $(".bbsPaList").css({"min-height":mheight,"height":rheight});
    }
});window.initEvent && window.initEvent();</script></html>
