<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/cusb-forum/regist" method="post" enctype="multipart/form-data">
        用户ID:<input type="text" name="userId"/><br/>
        密码:<input type="password" name="userPwd"/><br/>
        用户名：<input type="text" name="userName"/><br/>
        性别：<input type="text" name="sex"/><br/>
        年龄：<input type="text" name="age"/><br/>
        地址：<input type="text" name="userAdd"/><br/>
        邮箱：<input type="text" name="userMail"/><br/>
        手机号：<input type="text" name="phone"/><br/>
        <input type="submit" value="注册" name="regist">
    </form>
</body>
</html>