<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.dao.FloorMapper">
  <resultMap id="BaseResultMap" type="com.forum.entity.Floor">
    <id column="floor_id" jdbcType="VARCHAR" property="floorId" />
    <result column="floor_num" jdbcType="INTEGER" property="floorNum" />
    <result column="floor_good" jdbcType="INTEGER" property="floorGood" />
    <result column="floor_text" jdbcType="VARCHAR" property="floorText" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from floor
    where floor_id = #{floorId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.Floor">
    insert into floor (floor_id, floor_num, floor_good, 
      floor_text, `status`, `time`, 
      post_id, user_id)
    values (#{floorId,jdbcType=VARCHAR}, #{floorNum,jdbcType=INTEGER}, #{floorGood,jdbcType=INTEGER}, 
      #{floorText,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{postId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.Floor">
    update floor
    set floor_num = #{floorNum,jdbcType=INTEGER},
      floor_good = #{floorGood,jdbcType=INTEGER},
      floor_text = #{floorText,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      post_id = #{postId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where floor_id = #{floorId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select floor_id, floor_num, floor_good, floor_text, `status`, `time`, post_id, user_id
    from floor
    where floor_id = #{floorId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select floor_id, floor_num, floor_good, floor_text, `status`, `time`, post_id, user_id
    from floor
  </select>
  <select id="getMaxFloorNum" resultMap="BaseResultMap">
    select max(floor_num)
    from floor
    where post_id = #{post_id}
  </select>
</mapper>