<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.dao.ForumMapper">
  <resultMap id="BaseResultMap" type="com.forum.entity.Forum">
    <id column="forum_id" jdbcType="VARCHAR" property="forumId" />
    <result column="forum_name" jdbcType="VARCHAR" property="forumName" />
    <result column="forum_text" jdbcType="VARCHAR" property="forumText" />
    <result column="fid" jdbcType="VARCHAR" property="fid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from forum
    where forum_id = #{forumId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.Forum">
    insert into forum (forum_id, forum_name, forum_text, 
      fid)
    values (#{forumId,jdbcType=VARCHAR}, #{forumName,jdbcType=VARCHAR}, #{forumText,jdbcType=VARCHAR}, 
      #{fid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.Forum">
    update forum
    set forum_name = #{forumName,jdbcType=VARCHAR},
      forum_text = #{forumText,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR}
    where forum_id = #{forumId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select forum_id, forum_name, forum_text, fid
    from forum
    where forum_id = #{forumId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select forum_id, forum_name, forum_text, fid
    from forum
  </select>
</mapper>