<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.dao.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.forum.entity.History">
    <id column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from history
    where ip = #{ip,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.History">
    insert into history (ip, `time`, user_id
      )
    values (#{ip,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.History">
    update history
    set `time` = #{time,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where ip = #{ip,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ip, `time`, user_id
    from history
    where ip = #{ip,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ip, `time`, user_id
    from history
  </select>
</mapper>