<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.dao.IpMapper">
  <resultMap id="BaseResultMap" type="com.forum.entity.Ip">
    <id column="ip_id" jdbcType="VARCHAR" property="ipId" />
    <result column="ip_userid" jdbcType="VARCHAR" property="userId" />
    <result column="ip_ip" jdbcType="VARCHAR" property="ip" />
    <result column="ip_time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ip
    where ip_id = #{ipId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.Ip">
    insert into ip (ip_id,ip_userid,ip_ip,ip_time )
    values (#{ipId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.Ip">
    update ip
    set ip_userid = #{userId,jdbcType=VARCHAR},
      ip_ip = #{ip,jdbcType=VARCHAR},
      ip_time = #{time,jdbcType=TIMESTAMP}
    where ip_id = #{ipId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ip_id, ip_userid, ip_ip, ip_time
    from ip
    where ip_id = #{ipId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ip_id, ip_userid, ip_ip, ip_time
    from ip
  </select>
</mapper>