<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forum.dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.forum.entity.Reply">
    <id column="reply_id" jdbcType="VARCHAR" property="replyId" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="reply_text" jdbcType="VARCHAR" property="replyText" />
    <result column="reply_goot" jdbcType="INTEGER" property="replyGoot" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="floor_id" jdbcType="VARCHAR" property="floorId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_id_replied" jdbcType="VARCHAR" property="userIdReplied" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from reply
    where reply_id = #{replyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forum.entity.Reply">
    insert into reply (reply_id, `time`, reply_text, 
      reply_goot, `status`, floor_id, 
      user_id, user_id_replied)
    values (#{replyId,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{replyText,jdbcType=VARCHAR}, 
      #{replyGoot,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{floorId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userIdReplied,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.forum.entity.Reply">
    update reply
    set `time` = #{time,jdbcType=TIMESTAMP},
      reply_text = #{replyText,jdbcType=VARCHAR},
      reply_goot = #{replyGoot,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      floor_id = #{floorId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_id_replied = #{userIdReplied,jdbcType=VARCHAR}
    where reply_id = #{replyId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select reply_id, `time`, reply_text, reply_goot, `status`, floor_id, user_id, user_id_replied
    from reply
    where reply_id = #{replyId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select reply_id, `time`, reply_text, reply_goot, `status`, floor_id, user_id, user_id_replied
    from reply
  </select>
</mapper>